body {
    margin: 100px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #00FFFF
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #FF7F50
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 5em;
    font-family:'Helvetica', 'Time News Roman', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #A52A2A;
}
footer {
    border-top: 1px solid #00FFFF;
    font-size: 2em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
